<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lkpttxg.sept2.worldofzuul.settings.dao.UserMapper">
  <select id="selectUserByPasswordAndUsername" resultType="cn.lkpttxg.sept2.worldofzuul.settings.entity.user.User">
    select * from USER where username = #{username} and password = #{password}
  </select>
  <insert id="insertUser">
    insert into USER(username, password, email, playerId) values(#{username}, #{password}, #{email}, #{playerId})
  </insert>
  <update id="updatePasswordById">
    update USER set password = #{password} where userId = {id}
  </update>
  <select id="selectUserByUsername" resultType="cn.lkpttxg.sept2.worldofzuul.settings.entity.user.User">
    select * from USER where username = #{username}
  </select>
</mapper>